{% extends 'base_generic.html' %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1>Kittens</h1>

    {% if kitten_list %}
        <ul>
            {% for kitten in kitten_list %}
                <li>
                    <a href="{{ kitten.get_absolute_url }}">{{ kitten.name }}</a>
                    <a href="{% url 'kitten-update' pk=kitten.id %}">edit</a>
                    <a href="{% url 'kitten-delete' pk=kitten.id %}">delete</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no kittens :(</p>
    {% endif %}

    <a href="{% url 'kitten-create' %}">Add new kitten</a>

{% endblock %}